body {
   @extend %text-font;
   font-size: 16px;
   line-height: 24px;
   color: $black;
}
.container {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 10px;
}
.subtitle {
   @extend %text-font;
   font-weight: 500;
   color: rgba($primary, 0.7);
   text-transform: uppercase;
   letter-spacing: 2px;
}
.title {
   @extend %title-font;
   font-size: 32px;
   line-height: 35px;
   text-transform: capitalize;
}
.btn {
   background-color: $primary;
   color: #fff;
   padding: 12px 29px;
   border-radius: 5px;
   border: 1px solid transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover,
   &:focus {
      color: $primary;
      background-color: #fff;
      border: 1px solid $primary;
   }
   &:active {
      transform: translateY(1px);
      filter: saturate(150%);
   }
}
