@import "vars";
@import "global";
@import "reset";

//Start Header block

.header {
   padding-top: 30px;
   &__menu {
      display: flex;
      align-items: center;
   }

   &__menu-logo {
      margin-right: 35px;
   }

   &__menu-list {
   }

   &__menu-item {
      display: inline-block;
   }
   &__menu-item + .header__menu-item {
      margin-left: 40px;
   }

   &__menu-link {
      font-size: 16px;
      color: rgba($black, 0.6);
      transition: all 0.5s ease;
      &:hover {
         color: rgba($primary, 1);
      }
   }

   &__btn {
      margin-left: auto;
   }

   &__content {
      padding: 160px 0 107px 0;

      background-repeat: no-repeat;
      background-position: 500px -30px;
      background-size: contain;
   }

   &__content-title {
      @extend %title-font;
      font-size: 48px;
      line-height: 57px;
      max-width: 555px;
      margin-bottom: 42px;
   }

   &__content-text {
      @extend %text-font;
      line-height: 24px;
      font-weight: 500;
      opacity: 0.7;
      max-width: 555px;
      margin-bottom: 50px;
   }

   &__content-order,
   &__content-details {
      padding: 20px 40px;
      font-weight: 500;
      display: inline-block;
   }
   &__content-order {
      margin-right: 30px;
   }
}

//End Header block
//Start Features block

.features {
   padding-top: 120px;
   text-align: center;
   &__subtitle {
      margin-bottom: 10px;
   }

   &__title {
      margin-bottom: 45px;
   }

   &__items {
      display: flex;
      justify-content: space-around;
   }

   &__item {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__item-img {
      display: flex;
      justify-content: center;
      border-radius: 50%;
      width: 88px;
      height: 88px;
      margin-bottom: 33px;
   }
   .featuresImg-1 {
      background-color: rgba(#8fa632, 0.1);
   }
   .featuresImg-2 {
      background-color: rgba(#e64d2e, 0.08);
   }
   .featuresImg-3 {
      background-color: rgba(#dc780b, 0.1);
   }

   &__item-name {
      @extend %title-font;
      font-size: 25px;
      margin-bottom: 15px;
   }

   &__item-text {
      opacity: 0.7;
   }
}

//End Features block
//Start About block

.about {
   padding-top: 120px;
   &__inner {
      display: flex;
      align-items: center;
   }

   &__img {
      flex: 0 0 555px;
      margin-right: 97px;
      img {
         width: 100%;
         height: 500px;
         border-radius: 35px;
      }
   }

   &__content {
      flex: 0 0 475px;
   }

   &__subtitle {
      margin-bottom: 10px;
   }

   &__title {
      margin-bottom: 30px;
      text-transform: none;
   }

   &__text {
      margin-bottom: 30px;
   }

   &__btn {
      display: inline-block;
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
   }
}

//End About block
//Start Food-menu block

.foodmenu {
   padding-top: 120px;
   &__subtitle {
      text-align: center;
      line-height: 24px;
      margin-bottom: 10px;
   }

   &__title {
      text-transform: none;
      text-align: center;
      margin-bottom: 25px;
   }

   &__text {
      max-width: 748px;
      text-align: center;
      margin: 0 auto;
      opacity: 0.7;
      margin-bottom: 60px;
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__item {
      display: flex;
      flex-direction: column;
      flex: 0 0 360px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 75px 10px 10px 10px;
      margin-bottom: 30px;
   }

   &__item-img {
      max-height: 264px;
      img {
         border-radius: 76px 10px 76px 0px;
         width: 100%;
         object-fit: cover;
      }
   }

   &__item-box {
      padding: 25px;
   }

   &__btn {
      margin: 0 auto;
      margin-top: 20px;
   }
}
.rating {
   display: inline-flex;
   flex-direction: row-reverse;
}
.rating__item {
   line-height: 24px;
   font-size: 24px;
   color: #ededed;
   cursor: pointer;
   transition: 0.2s;
}
.rating__item:hover,
.rating__item:hover ~ .rating__item {
   color: $primary;
}
.rating[data-total-value="1"] .rating__item:nth-child(n + 5),
.rating[data-total-value="2"] .rating__item:nth-child(n + 4),
.rating[data-total-value="3"] .rating__item:nth-child(n + 3),
.rating[data-total-value="4"] .rating__item:nth-child(n + 2),
.rating[data-total-value="5"] .rating__item:nth-child(n + 1) {
   color: $primary;
}

.box {
   &__item {
   }

   &__item-info {
      display: flex;
      justify-content: space-between;
      @extend %title-font;
      font-size: 25px;
      line-height: 32px;
      margin-bottom: 20px;
   }

   &__item-text {
      margin-bottom: 20px;
   }
   &__item-btn {
      padding: 0;
      line-height: 0;
      width: 36px;
      height: 34px;
      display: inline-block;
      position: relative;
      &::before {
         content: "+";
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         font-size: 25px;
      }
   }
   &__item-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

//End Food-menu block
//Start Application block

.application {
   padding-top: 180px;
   padding-bottom: 100px;
   &__wrapper {
      background-color: rgba(#fbf1e7, 0.4);
      padding-top: 114px;
      padding-bottom: 129px;
   }
   &__info {
      margin-left: 97px;
      max-width: 555px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         background-image: url("../images/application.png");
         background-size: contain;
         width: 380px;
         height: 730px;
         right: -400px;
         top: -200px;
         z-index: 1;
      }
   }

   &__subtitle {
      margin-bottom: 5px;
   }
   &__title {
      text-transform: none;
      line-height: 41px;
      margin-bottom: 30px;
   }

   &__text {
      opacity: 0.7;
      margin-bottom: 40px;
   }

   &__btn-appStore {
      background-color: $black;
      color: #fff;
      padding: 12px 29px;
      border-radius: 5px;
      border: 1.5px solid transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 30px;
      span {
         padding-left: 34px;
         display: inline-block;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            width: 26px;
            height: 26px;
            background-image: url("../images/apple.svg");
            background-size: cover;
            left: -2px;
            top: -2px;
         }
      }
      &:active {
         transform: translateY(1px);
         filter: saturate(150%);
      }
   }

   &__btn-googlePlay {
      background-color: transparent;
      color: $black;
      padding: 12px 29px;
      border-radius: 5px;
      border: 1.5px solid rgba($black, 0.1);
      cursor: pointer;
      transition: all 0.3s ease;
      span {
         padding-left: 34px;
         font-weight: 500;
         display: inline-block;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 26px;
            background-image: url("../images/google.svg");
            background-size: cover;
            left: -2px;
            top: -2px;
         }
      }
      &:active {
         transform: translateY(1px);
         filter: saturate(150%);
      }
   }
}

//End Application block

// &__list-link {
//    @extend %title-font;
//    color: rgba(54, 56, 56, 0.9);
//    line-height: 22px;
// }
