@import "vars";
@import "global";
@import "reset";

//Start Header block

.header {
   padding-top: 30px;
   &__menu {
      display: flex;
      align-items: center;
   }

   &__menu-logo {
      margin-right: 35px;
   }

   &__menu-list {
   }

   &__menu-item {
      display: inline-block;
   }
   &__menu-item + .header__menu-item {
      margin-left: 40px;
   }

   &__menu-link {
      font-size: 16px;
      color: rgba($black, 0.6);
      transition: all 0.5s ease;
      &:hover {
         color: rgba($primary, 1);
      }
   }

   &__btn {
      margin-left: auto;
   }

   &__content {
      padding: 160px 0 107px 0;

      background-repeat: no-repeat;
      background-position: 500px -30px;
      background-size: contain;
   }

   &__content-title {
      @extend %title-font;
      font-size: 48px;
      line-height: 57px;
      max-width: 555px;
      margin-bottom: 42px;
   }

   &__content-text {
      @extend %text-font;
      line-height: 24px;
      font-weight: 500;
      opacity: 0.7;
      max-width: 555px;
      margin-bottom: 50px;
   }

   &__content-order,
   &__content-details {
      padding: 20px 40px;
      font-weight: 500;
      display: inline-block;
   }
   &__content-order {
      margin-right: 30px;
   }
}

//End Header block
//Start Features block

.features {
   padding-top: 120px;
   text-align: center;
   &__subtitle {
      margin-bottom: 10px;
   }

   &__title {
      margin-bottom: 45px;
   }

   &__items {
      display: flex;
      justify-content: space-around;
   }

   &__item {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__item-img {
      display: flex;
      justify-content: center;
      border-radius: 50%;
      width: 88px;
      height: 88px;
      margin-bottom: 33px;
   }
   .featuresImg-1 {
      background-color: rgba(#8fa632, 0.1);
   }
   .featuresImg-2 {
      background-color: rgba(#e64d2e, 0.08);
   }
   .featuresImg-3 {
      background-color: rgba(#dc780b, 0.1);
   }

   &__item-name {
      @extend %title-font;
      font-size: 25px;
      margin-bottom: 15px;
   }

   &__item-text {
      opacity: 0.7;
   }
}

//End Features block

// &__list-link {
//    @extend %title-font;
//    color: rgba(54, 56, 56, 0.9);
//    line-height: 22px;
// }
